<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница добавления данных клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 50%;
            padding: 10px;
            height: 80px;
        }
    </style>
</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h1>Белинвестбанк</h1>
    <a class="p-2 text-primary" href="/home">Главная страница</a>
    <a class="p-2 text-primary" href="/home/add">Добавить клиента</a>

</header>

<div class="container mt-5 mb-5">
    <h1>Добавление данных</h1>
    <form action="/home/add" method="post">
        <b> Имя</b>
        <input type="text" name="name" placeholder="Введите имя" class="form-control" required>
        <div class="row">
            <div class="column">
                <b> Фамилия</b>
                <input type="text" name="surname" placeholder="Введите фамилию" class="form-control" required>
            </div>
            <div class="column">
                <b> Отчество</b>
                <input type="text" name="patronymic" placeholder="Введите отчество" class="form-control" required>
            </div>
            <div class="column">
                <b> Дата рожденния</b>
                <input type="date" name="birth" placeholder="Введите дату дня рождения" class="form-control" required>
            </div>
            <div class="column">
                <b> Пол</b>
                <input type="radio" name="pol" id="m" value="mug">
                <label for="m">Мужской</label>
                <input type="radio" name="pol" id="g" value="gen">
                <label for="g">Женский</label>
            </div>
            <div class="column">
                <b> Серия паспорта</b>
                <input type="text" name="seriapasporta" placeholder="Введите серию паспорта" class="form-control" required>
            </div>
            <div class="column">
                <b> Номер паспорта</b>
                <input type="text" name="nomerpasporta" placeholder="Введите номер паспорта" class="form-control" required>
            </div>

                <b> Кем выдан </b>
                <input type="text" name="kemvidan" placeholder="Кем выдан паспорт" class="form-control" required>

                <b> Дата выдачи </b>
                <input type="date" name="datavidachi" placeholder="Дата выдачи паспорта" class="form-control" required>

            <div class="column">
                <b> Идентификационный номер паспорта</b>
                <input type="text" name="identnomer" placeholder="Идентификационный номер паспорта" class="form-control" required>
            </div>
            <div class="column">
                <b> Место рождения</b>
                <input type="text" name="placeofbirth" placeholder="Введите место рождения" class="form-control" required>
            </div>
            <div class="column">
                <b> Город прописки</b>
                <select name="gorodprop">
                    <option>Brest</option>
                    <option>Vitebsk</option>
                    <option>Gomel</option>
                    <option>Grodno</option>
                    <option>Minsk</option>
                    <option>Mogilev</option>
                </select>
            </div>
            <div class="column">
                <b> Адрес проживания</b>
                <input type="text" name="adres" placeholder="Введите адрес проживания" class="form-control" required>
            </div>
            <div class="column">
                <b> Город проживания</b>
                <select name="gorodprog">
                    <option>Brest</option>
                    <option>Vitebsk</option>
                    <option>Gomel</option>
                    <option>Grodno</option>
                    <option>Minsk</option>
                    <option>Mogilev</option>
                </select>
            </div>
            <div class="column">
                <b> Семейное положение</b>
                <select name="sempologenie">
                    <option>не женат/не замужем</option>
                    <option>женат/замужем</option>
                </select>
            </div>
            <div class="column">
                <b> Гражданство</b>
                <select name="gragdanstvo">
                    <option>Россия</option>
                    <option>Беларусь</option>
                    <option>Украина</option>
                    <option>Польша</option>
                    <option>Литва</option>
                    <option>Латвия</option>
                </select>
            </div>
            <div class="column">
                <b> Инвалидность</b>
                <select name="invalid">
                    <option>нет</option>
                    <option>1-группа</option>
                    <option>2-группа</option>
                    <option>3-группа</option>
                </select>
            </div>
            <div class="column">
                <b> Пенсионер</b>
                <input type="checkbox" id="1" name="pensioner" value="Да" >
                <label for="1">Да</label>
                <input type="checkbox" id="2" name="pensioner" value="Нет">
                <label for="2">Нет</label>
            </div>
            <div class="column">
                <b> Военнобязанный</b>
                <input type="checkbox" id="3" name="voen" value="Да" >
                <label for="1">Да</label>
                <input type="checkbox" id="4" name="voen" value="Нет">
                <label for="2">Нет</label>
            </div>
            <div class="column">
                <b> Ежемесячный доход</b>
                <input type="text" name="dohod" placeholder="Введите ежемесячный доход" class="form-control">
            </div>
        </div>

        <button type="submit" class="btn btn-warning">Добавить данные</button>
    </form>
</div>

</body>
</html>